/ysc/.angular/cache/19.2.22/youngsters-sports-club/.tsbuildinfo
/ysc/.angular/cache/19.2.22/youngsters-sports-club/angular-compiler.db
/ysc/.angular/cache/19.2.22/youngsters-sports-club/angular-compiler.db-lock
